<p>product-card works!</p>
<div class="container mt-3">
  <div class="center">
    <div class="row">
      <div class="col-lg-3 center" *ngFor="let product of productList">
        <div class="card">
          <img src="{{product?.image}}" class="card-img-top" alt="{{product?.image}}" />
          <div class="card-body">
            <h5 class="card-title">{{product?.title}}</h5>
            <button class="btn btn-primary">Detalle</button>
            <p class="card-text">
              <strong>{{product?.price | currency}}</strong>
            </p>
          </div>
          <div class="card-footer text-body-secondary">
            <button class="btn btn-primary">Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
