<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../../assets/ecommerce.png" alt="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contacto</a>
        </li>
      </ul>
      <div class="d-flex">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar producto..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit"  style="margin-right: 20px;">Buscar</button>
      </form>
      <a class="icon"><img src="../../../../assets/carritoNaranja.png" alt=""></a>
      </div>
    </div>
  </div>
</nav>
